/* Write your CSS here */
.container {
  background-color: #ffffff;
  /* height: 800px;
  width: 1200px; */
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  cursor: pointer;
  border-radius: 20px;
}
.title-head {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 35px;
  padding: 8px;
  margin: 5px;
}
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
